@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500&family=Open+Sans:wght@400;600&display=swap');

:root {
  --blue: #38bdf8;
  --black: #272727;
  --white: #ffffff;
  --menu-active: #0369a1;
  --font-size: 18px;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  font-size: 10px;
  color: var(--black);
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 0;
  color: var(--white);
  background: var(--white);
  background-attachment: fixed;
  /* letter-spacing: -1px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
  color: var(--black);
}


.wrapper{
  display: grid;
  grid-template-columns: auto 1fr; /*300px to auto*/
  height: 100vh;
  /* border: 2px solid red; */
}


/* -----------SIDEBAR NAV--------------*/

.sidebar{
  background: var(--blue);
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  padding-right: 50px;  
}

.logo{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  /* border: 2px solid green; */
}

.logo > h3{
  color: var(--white);
}

.menus{
  display: grid;
  grid-template-rows: auto 1fr ;
  grid-gap: 10px;
  /* border: 2px solid yellow; */
}

.menu-top{
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
  margin-bottom: 25px;
  /* border: 2px solid blue;   */
}

.menu-bottom{
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
  /* border: 2px solid purple; */
}

.menus > * > * > a{
  color: var(--white);
  font-size: var(--font-size);
  text-decoration: none; 
  padding-left: 10px;
}

.menus > * >* > a:hover{
  color: var(--menu-active);
}

.menus > * >* a.active{
  color: var(--menu-active);
}


/* -----------CONTENT--------------*/

.content{
  display: grid;
  grid-template-rows: auto 1fr;
  
}

/* -----------PROFILE--------------*/

.profile{
  display: grid;
  grid-template-rows: auto;
  color: var(--black);
  border: 2px solid blue;
}

/* -----------CARDS--------------*/

.cards{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  border: 2px solid red;
  background-color: #E2E8F0;
}

/* -----------CARDS Projects--------------*/

.cards-projects{
  display: grid;
  grid-template-rows: auto 1fr;

  
}

.title{
  display: grid;
  grid-template-rows: auto;
  color: var(--black); 
  margin: 20px;
  margin-bottom: 0px;
}

.projects{
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.project{
  color: var(--black);
  border-left: 5px solid #F0B429;
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px -3px rgba(0, 0, 0, 0.4);
}

.project > p {
  color: #636363;
  font-family: Montserrat;
  font-weight: 100;
  font-size: 1.1rem;
}
/* -----------CARDS Side Cards--------------*/

.cards-sideCards{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  border: 2px solid orange;
}


.announcements{
  display: grid;
  grid-template-rows: auto 1fr;
  border: 2px solid purple;
}

.cardAnnoucements{
  display: grid;
  grid-template-rows: auto;
  border: 2px solid yellow;
}

.trending{
  display: grid;
  grid-template-rows: auto 1fr;
  border: 2px solid purple;
}

.cardTrending{
  display: grid;
  grid-template-rows: auto;
  border: 2px solid yellow;
}